{% extends "layouts/base.html" %}

{% block content %}
  <h1 style="margin-bottom: 30px">Користувачі</h1>
  {% if customer_list %}
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Ім'я</th>
        <th scope="col">Прізвище</th>
        <th scope="col">Звання</th>
        <th scope="col">Військова Частина</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
    {% for customer in customer_list %}
        <tbody>
      <tr>
        <td>{{ customer.id }}</td>
        <td>{{ customer.first_name }}</td>
        <td>{{ customer.last_name }}</td>
        <td>{{ customer.role }}</td>
        <td>{{ customer.brigade_num }}</td>
        <td>{{ customer.email }}</td>
        </tbody>
    {% endfor %}
    </table>
    {% else %}
      <p>There are no users.</p>
    {% endif %}
{% endblock %}
