{% extends "layouts/base.html" %}

{% block content %}
  <h1 style="margin-bottom: 30px">Речі в наявності</h1>
  {% if item_list %}
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th scope="col">Назва</th>
        <th scope="col">Категорія</th>
        <th scope="col">Одиниця</th>
        <th scope="col">Кількість</th>
        <th scope="col">Дата закінчення терміну </th>
        <th scope="col">Замітка</th>
      </tr>
      </thead>
    {% for item in item_list %}
        <tbody>
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.unit }}</td>
        <td>{{ item.count }}</td>
        <td>{{ item.term_of_use }}</td>
        <td>
          {% for note in item.note_number.all %}
            {{ note.id }},
          {% endfor %}
        </td>
      </tr>
        </tbody>
    {% endfor %}
    </table>
    {% else %}
      <p>There are no items.</p>
    {% endif %}
{% endblock %}
