{% extends "layouts/base.html" %}

{% block content %}

    {% if user.role == 'BR' %}
     <a href="{% url 'material_service_app:order-create' %}" class="btn btn-custom link-to-page">
      Створити замовлення
     </a>
     <a href="{% url 'material_service_app:order-download' %}" class="btn btn-custom link-to-page">
      Завантажити PDF
     </a>

  {% endif %}
  {% if order_list %}
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Замовлення</th>
        <th scope="col">Постачальник</th>
        <th scope="col">Замовник</th>
        <th scope="col">Речі</th>
        <th scope="col">Статус замовлення</th>
        <th scope="col">Замовлення створенно</th>
      </tr>
      </thead>
    <tbody>
    {% for order in order_list %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.title }}</td>
        <td>{{ order.created_by }}</td>
        <td>
          {% for customer in order.created_for.all %}
            <p>{{ customer.first_name }} {{ customer.last_name }}</p>
          {% endfor %}
        </td>
        <td>
          {% for item in order.items.all %}
            <p>{{ item.name }}</p>
          {% endfor %}
        </td>
        <td>{{ order.status }}</td>
        <td>{{ order.created_at }}</td>
      </tr>
        </tbody>
    {% endfor %}
    </table>
    {% else %}
      <p>Замовлень не знайдено. Створіть нове за потреби</p>
    {% endif %}
{% endblock %}
