{% extends "layouts/base.html" %}

{% block content %}
  <h1>Orders
    {% if user.role == 'BR' %}
     <a href="{% url 'material_service_app:order-create' %}" class="btn btn-primary link-to-page">
      Create
     </a>
     <a href="{% url 'material_service_app:order-download' %}" class="btn btn-primary link-to-page">
      Download
     </a>
  {% endif %}</h1>
  {% if order_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Created By</th>
        <th>Created For</th>
        <th>Items</th>
        <th>Status</th>
        <th>Created at</th>
      </tr>
    {% for order in order_list %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.title }}</td>
        <td>{{ order.created_by }}</td>
        <td>
          {% for customer in order.created_for.all %}
            <p>{{ customer.first_name }} {{ customer.last_name }}</p>
          {% endfor %}
        </td>
        <td>
          {% for item in order.items.all %}
            <p>{{ item.name }}</p>
          {% endfor %}
        </td>
        <td>{{ order.status }}</td>
        <td>{{ order.created_at }}</td>
      </tr>
    {% endfor %}
    </table>
    {% else %}
      <p>There are no orders.</p>
    {% endif %}
{% endblock %}
