{% load crispy_forms_filters %}

<ul class="sidebar-nav list-group">
  {% if user.is_authenticated %}
    <li class="list-group-item">User: {{ user.get_username }}</li>
    <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-secondary">logout</button>
    </form>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
  {% endif %}
  <br>

  <li class="list-group-item"><a href="{% url 'material_service_app:index' %}">Home</a></li>
  <li class="list-group-item"><a href="{% url 'material_service_app:customer-list' %}">All Customers</a></li>
  <li class="list-group-item"><a href="{% url 'material_service_app:item-list' %}">All Items</a></li>
  <li class="list-group-item"><a href="{% url 'material_service_app:order-list' %}">All Orders</a></li>
</ul>
